# EMAIL SUPORTE HAP
EMAIL_USERNAME=""
EMAIL_DESTINATARIO=""
EMAIL_PASSWORD=""
EMAIL_HOST=""
EMAIL_PORT=""
EMAIL_SMTP_SECURE=""

# DATABASE INFORMATICA
DATABASE_INFORMATICA_HOST = ""
DATABASE_LOCALHOST_HOST = ""
DATABASE_INFORMATICA_NAME = ""
DATABASE_INFORMATICA_PORT = ""
DATABASE_INFORMATICA_PASSWORD = ""
DATABASE_LOCALHOST_PASSWORD = ""
DATABASE_INFORMATICA_USERNAME = ""
DATABASE_LOCALHOST_USERNAME = ""

# KEY SENHA
PASSWORD_KEY = "";