@media print {
    @page {
        size: A4 landscape;
        margin: 10mm;
    }

    body * {
        visibility: hidden;
        font-family: Montserrat;
    }

    #printable-area, #printable-area * {
        visibility: visible;
    }

    #printable-area {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px;
        font-size: 12px;
        text-align: center;
    }
}