.app-container {
    display: flex;
    min-height: 100vh;
}

.flex
{
    display: flex;
    align-items: center;
}

.flex-direction-column
{
    display: flex;
    flex-direction: column;
}

.page-header {
    display: flex; 
    justify-content: space-between;    
    transition: opacity 0.4s ease, transform 0.4s ease;
    margin-bottom: 2rem;
}

.page-header h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #1e293b;
    margin-bottom: 0.5rem;
}

.page-header p {
    color: #64748b;
    font-size: 1.1rem;
}

.page-configuracoes
{
    display: flex;
    align-items: center;
}

.page-criar-dvr, .page-criar-computador, .page-criar-preventiva
{
    display: flex;
    align-items: center;
}