@media (max-width: 1920px){
  .setores
  {
    grid-template-columns: repeat(300px);
  }

  .setor
  {
    width: 300px;
  }

  .usuarios
  {
    grid-template-columns: repeat(2, 400px);
  }

  .equipment-grid-user
  {
    grid-template-columns: repeat(auto-fill, minmax(300, 1fr));
  }

  .form-flex .texto{
    width: 260px;
  }
}

@media (max-width: 1440px){
  .setores
  {
    grid-template-rows: repeat(200px);
    grid-template-columns: repeat(2, 400px);
  }

  .usuarios
  {
    grid-template-rows: repeat(200px);
    grid-template-columns: repeat(2, 400px);
  }

  .form-flex .texto
  {
    width: 240px;
  }
}


@media (max-width: 1024px){
  .setores
  {
    grid-template-rows: repeat(200px);
    grid-template-columns: repeat(2, 400px);
  }

  .usuarios
  {
    grid-template-rows: repeat(200px);
    grid-template-columns: repeat(2, 400px);
  }
}

@media (max-width: 768px) {
  .sidebar {
      position: fixed;
      top: 0;
      left: -280px;
      width: 280px;
      height: 100vh;
      transition: left 0.3s ease;
      box-shadow: 4px 0 20px rgba(0, 0, 0, 0.3);
      z-index: 1050;
  }

  .sidebar.open {
      left: 0;
  }

  .btn-menu {
      display: block;
  }
}