@media (max-width: 2560px){
  .setores
  {
    display: grid;
    align-items: center;
    grid-template-rows: repeat(200px);
    grid-template-columns: repeat(5, minmax(350px, 1fr));
    place-items: center;
  }

  .form-flex {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.8rem;
  }

  .form-flex .texto{
    width: 260px;
  }
}

@media (max-width: 1920px){
  .page-header 
  {
    margin-bottom: 0rem;
  }

  .setores
  {
    grid-template-columns: repeat(3, 350px);
  }

  .setor
  {
    width: 300px;
  }

  .usuarios
  {
    grid-template-columns: repeat(2, 400px);
  }

  .equipment-grid-user
  {
    grid-template-columns: repeat(auto-fill, minmax(300, 1fr));
  }

  .form-flex .texto{
    width: 260px;
  }
}

@media (max-width: 1440px){
  .setores
  {
    grid-template-rows: repeat(200px);
    grid-template-columns: repeat(2, 400px);
  }

  .usuarios
  {
    grid-template-rows: repeat(200px);
    grid-template-columns: repeat(2, 400px);
  }

  .form-flex .texto
  {
    width: 240px;
  }

  .cardDVR, .cardComputador
  {
    width: auto;
  }

  .cardCamera
  {
    width: auto;
  }

  .cameras
  {
    width: auto;
  }
  .canaisDisponiveis .flex
  {
    flex-wrap: wrap;
  }
  
  .canaisDisponiveis
  {
    width: 600px;
  }

  .tituloDVR
  {
    width: 700px;
  }

  .tituloDetalhes
  {
    grid-template-columns: repeat(3, auto-fit);
  }

  .topoInformacoesDVR, .inferiorInformacoesDVR, .topoInformacoesCamera, .inferiorInformacoesCamera
  {
    width: 750px;
  }
}


@media (max-width: 1024px) {
  .main-content
  {
    margin-left: 200px;
  }

  .sidebar
  {
    width: 200px;
  }

  /* computadores */
  .form-filtro
  {
    flex-wrap: wrap;
  }

  .filtro
  {
    height: 200px;
  }

  .botoes-filtrar
  {
    margin-top: 0;
  }

  .setores
  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
  }

  /* usuarios */
  .usuarios
  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    place-items: center;
  }

  .usuarioDiv
  {
    width: 300px;
  }

  .cardDVR
  {
    width: 700px;
  }

  .cameras
  {
    width: 700px;
  }
  
  .canaisDisponiveis
  {
    width: 500px;
  }

  .tituloDVR, .tituloCamera
  {
    width: 400px;
  }

  .tituloDetalhes
  {
    grid-template-columns: repeat(2, auto);
  }

  .topoInformacoesDVR, .inferiorInformacoesDVR, .topoInformacoesCamera, .inferiorInformacoesCamera
  {
    width: 500px;
  }

  .cardCamera
  {
    width: 700px;
  }
}

@media (max-width: 768px) {
  /* sidebar */
  .main-content
  {
    margin-left: 0;
  }

  .sidebar {
    transform: translateX(-300px);
    visibility: hidden;
    pointer-events: none;
    transition: transform 0.4s ease, visibility 0.4s ease;
  }

  .sidebar.open {
    transform: translateX(0);
    visibility: visible;
    pointer-events: auto;
  }

  .bar
  {
    display: flex;
  }

  .sidebar-voltar
  {
    display: flex;
  }

  .usuarioDiv
  {
    width: 250px;
    height: 200px;
  }

  .topoInformacoesCamera, .inferiorInformacoesCamera
  {
    width: 500px;
  }

  .inferiorInformacoesCamera
  {
    gap: 5rem;
  }
}

@media (max-width: 425px) {
  /* computadores */
  .filtro
  {
    height: 300px;
  }

  #formularioComputadores
  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .form-flex{
    flex-wrap: wrap;
  }

  .flex
  {
    flex-wrap: wrap;
  }

  .form-actions-computer
  {
    height: 45px;
  }

  /* login */
  .controleForm
  {
    width: auto;
  }

  #formularioUsuario, #formularioUsuario input, .usuario, .senha
  {
    width: 250px;
  }

  /* usuarios */
  .usuarios-listagem
  {
    place-items: center;
  }

  .usuarios
  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
  }

  .opcoes
  {
    justify-content: center;
    align-items: center;
  }

  .usuarioDiv
  {
    width: 200px;
    height: 250px;
  }

  .usuarioDiv p
  {
    padding: 1rem;
  }

  .equipment-grid-user
  {
    width: 300px;
  }

  .equipment-grid-user .info-label
  {
    width: 100px;
  }

  .equipment-grid-user .flex
  {
    align-items: center;
    justify-content: center;
  }

  .equipment-grid-user .botao-cancelar
  {
    height: 50px;
  }

  .equipment-grid-user .botao i
  {
    margin: 0;
  }

  .search
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
  }

  #search-input
  {
    width: 300px;
  }

  #formularioUsuarios
  {
    width: 250px;
  }

  #formularioUsuarios select
  {
      width: 250px;
  }

  .form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    margin-bottom: 2rem;
  }

  .form-actions
  {
    height: 50px;
  }

  #botaoVoltar, #botaoAvancar
  {
    justify-content: center;
    width: 120px;
    padding: 12px 12px 12px 12px;
  }

  .fundo-container
  {
    width: 300px;
  }

  /* setores */
  .setoresAdministrador
  {
    display: flex;
    flex-direction: column;
  }

  .setores .flex
  {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

  .setorDiv
  {
    width: 300px;
  }

  .setorDiv p
  {
    padding: 1rem;
  }

  .equipment-grid-setor
  {
    place-items: center;
  }

  .equipment-card-setor
  {
    width: 300px;
  }

  .equipment-card-setor .flex
  {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .equipment-card-setor .botao
  {
    height: 50px;
  }
  .equipment-card-setor .botao i
  {
    margin: 0;
  }

  .page-header
  {
    flex-direction: column;
    gap: 2rem;
  }

  .page-criar-computador, .page-criar-dvr
  {
    justify-content: flex-start;
  }

  .cardDVR, .cardComputador, .cardCamera
  {
    flex-direction: column;
    width: 325px;
  }

  .cameras
  {
    width: 325px;
  }

  .tituloDetalhes
  {
    grid-template-columns: repeat(1, auto);
  }

  .topoInformacoesDVR, .topoInformacoesCamera
  {
    width: auto;
  }

  .inferiorInformacoesDVR, .inferiorInformacoesCamera
  {
    flex-direction: column;
  }

  .inferiorInformacoesCamera
  {
    width: 250px;
    gap: 1rem;
  }

  .informacoesUsuarioData, .informacoesStatus
  {
    width: 250px;
  }

  .informacoesGerais
  {
    width: 275px;
    gap: 2rem;
  }

  .horarioDVR .flex, .manutencaoDVR .flex, .semestreDVR .flex
  {
    gap: 2rem;
  }

  .horarioInformacoes, .manutencaoInformacoes, .semestreInformacoes
  {
    width: 100%;
  }

  .informacoesResponsavel
  {
    margin-top: 2rem;
    width: 275px;
  }

  .imagemDVR, .imagemDVR img, .imagemComputador, .imagemComputador img
  {
    width: 150px;
    height: 150px;
    max-width: 259px;
    max-height: 259px;
  }

  .canaisDisponiveis
  {
    width: 250px;
  }

  .formulario-imagem
  {
    width: 259px;
    height: 259px;
  }
}

@media (max-width: 375px) {
  .main-content
  {
    width: 375px;
  }

  /* login */
  .controleForm
  {
    width: auto;
  }

  #formularioUsuario, #formularioUsuario input, .usuario, .senha
  {
    width: 225px;
  }

  /* usuarios */
  .usuarios
  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    place-items: center;
  }

  .search
  {
    width: 300px;
  }

  #search-input
  {
    width: 300px;
  }

  #overlay
  {
    width: 375px;
  }

  #legenda
  {
    width: 300px;
  }
  
  .legenda-destacada
  {
    margin: 2rem 0 2rem 0;
  }

  .tituloCamera
  {
    width: 200px;
  }

  .usuarioDiv p
  {
    padding: 8px 16px 0px 16px;
    text-wrap: wrap;
  }

  #formularioUsuarios
  {
    width: 225px;
  }

  #formularioUsuarios select
  {
      width: 225px;
  }

  .form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    gap: 1.5rem;
    margin-bottom: 2rem;
  }

  .form-actions
  {
    height: 50px;
  }

  .form-actions-computer{
    height: 44px;
    gap: 2px;
  }

  .info-label
  {
    width: 120px;
  }

  .form-actions-computadores
  {
    display: flex;
    flex-wrap: wrap;
  }

  #formularioComputadores
  {
    width: 225px;
    height: 2800px;
  }

  /* setores */
  .setores
  {
    width: 300px;
  }

  .setor-preventiva{
    width: 250px;
    height: 250px;
  }

  .preventiva-flex
  {
    justify-content: center;
    width: 240px;
    align-items: center;
    flex-wrap: wrap;
  }

  .preventiva-flex h4
  {
    padding: 0;
    text-align: center;
  }

  .preventiva-flex i
  {
    padding: 16px 100px 16px 100px;
  }

  .setor p
  {
    text-align: center;
  }

  /* filtro */
  .filtro-flex
  {
    width: 200px;
  }

  .filtro
  {
    height: 370px;
  }

  /* computadores-setor */
  .computadores-listagem
  {
    width: 300px;
  }

  .equipment-grid-computer
  {
    width: 300px;
  }

  .equipment-card-computer
  {
    width: 300px;
  }

  .cardDVR, .cardComputador
  {
    flex-direction: column;
    width: 300px;
  }

  .cameras
  {
    width: 300px;
  }

  .informacoesGerais
  {
    width: 250px;
  }

  .informacoesResponsavel
  {
    width: 250px;
  }

  .semestreDVREditar h4
  {
    width: 100px;
  }
}


@media (max-width: 320px) {
  .main-content
  {
    width: 320px;
  }

  /* login */
  .controleForm
  {
    width: auto;
  }

  #formularioUsuario, #formularioUsuario input, .usuario, .senha
  {
    width: 190px;
  }

  .sidebar
  {
    width: 200px;
  }

  /* usuarios */
  .bar
  {
    width: 45px;
    height: 45px;
  }

  .usuarioDiv
  {
    width: 250px;
  }

  .search, #search-input, .voltar
  {
    width: 250px;
  }
  
  .equipment-card, .usuarios-listagem
  {
    width: 250px;
  }

  .equipment-grid-user
  {
    width: 250px;
  }

  .form-actions
  {
    flex-wrap: wrap;
    margin-bottom: 5rem;
  }

  .info-row
  {
    width: 200px;
  }

  /* page-header */
  .page-header
  {
    width: 250px;
  }

  /* form */
  .controleForm
  {
    width: 250px;
  }

  #formularioUsuarios, #formularioUsuarios input, #formularioUsuarios select, .form-group
  {
    width: 190px;
  }

  .form-actions-usuarios
  {
    justify-content: center;
  }

  #formularioComputadores
  {
    width: 190px;
    text-wrap: wrap;
  }

  .form-flex, .form-grid
  {
    width: 190px;
  }

  /* computadores */
  .botao-bar
  {
    width: 250px;
  }

  .form-actions-computadores
  {
    width: 190px;
  }

  /* setores */
  .setores
  {
    width: 250px;
  }

  .setor-preventiva{
    width: 200px;
    height: 270px;
  }

  .setores-listagem
  {
    width: 250px;
  }

  .preventiva-flex
  {
    justify-content: center;
    width: 190px;
    align-items: center;
    flex-wrap: wrap;
  }

  .preventiva-flex h4
  {
    padding: 0;
    text-align: center;
  }

  .preventiva-flex i
  {
    padding: 16px 80px 16px 80px;
  }

  .setor p
  {
    text-align: center;
  }

  .span-icon-control
  {
    text-align: center;
  }

  .equipment-grid-setor
  {
    justify-content: center;
    width: 250px;
  }

  .equipment-card-setor
  {
    width: 200px;
  }

  .equipment-card-setor .span-icon-control
  {
    width: 150px;
  }

  .equipment-card-setor .botao
  {
    width: 120px;
  }

  /* filtro */
  .filtro
  {
    width: 250px;
  }

  /* computadores-setor */
  .computadores-listagem
  {
    width: 250px;
  }

  .equipment-grid-computer
  {
    width: 250px;
  }

  .equipment-card-computer
  {
    width: 250px;
  }

  .cardDVR, .cardComputador
  {
    flex-direction: column;
    width: 250px;
  }

  .canaisDisponiveis
  {
    width: 200px;
  }

  .cameras
  {
    width: 250px;
  }

  .informacoesGerais
  {
    width: 200px;
  }

  .informacoesResponsavel
  {
    width: 200px;
  }

  .semestreDVREditar h4
  {
    width: 100px;
  }

  .formulario-imagem
  {
    width: 200px;
    height: 200px;
  }
}