/* COMPONENTES */

@import url("components/navbar.css");
@import url("components/bar.css");
@import url("components/search.css");
@import url("components/filtro.css");
@import url("components/assinar.css");
@import url("components/fundo.css");
@import url("components/form.css");
@import url("components/botoes.css");
@import url("components/icons.css");
@import url("components/setores.css");
@import url("components/computadores.css");
@import url("components/esqueciSenha.css");
@import url("components/usuarioDiv.css");
@import url("components/switch.css");
@import url("components/status.css");
@import url("components/equipamento.css");
@import url("components/warning.css");
@import url("components/opcoes.css");
@import url("components/editarUsuario.css");
@import url("components/meuPerfil.css");
@import url("components/cameras.css");

/* GERAIS */

@import url("geral/paginacao.css");
@import url("geral/input.css");
@import url("geral/login.css");
@import url("geral/logo.css");
@import url("geral/info.css");
@import url("geral/emptystate.css");
@import url("geral/link.css");
@import url("geral/impressao.css");
@import url("geral/responsividade.css");

/* LIMPEZA */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: montserrat;
  background-color: #f8fafc;
  color: #334155;
  line-height: 1.6;
}

.flex
{
  display: flex;
}

.direction-column
{
  flex-direction: column;
}