.cameras
{
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 2rem;
}

.cameraDiv
{
    display: flex;
    width: 200px;
    height: 50px;
    background-color: white;
    border-radius: 12px;
    cursor: pointer;
}

.cameraLink
{
    display: flex;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
}

.cameraDiv:hover .color-content
{
    width: 100%;
    border-radius: 12px;
}

.cameraDiv:hover .camera-content
{
    display: none;
}

.color-content
{
    width: 20px;
    min-width: 20px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: #334155;
    transition: all 0.3s ease;
}

.camera-content
{
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

.camera-content .flex, .tituloDVR .flex
{
    gap: 1rem;
}

.cardDVR
{
    display: flex;
    background-color: white;
    padding: 2rem;
    gap: 1rem;
    border-radius: 12px;
    border: 1px solid #e2e8f0;
    transition: all 0.3s ease;
}

.cardDVR:hover{
  border: 1px solid #3b82f6;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  transform: translateY(-2px);
}

.canalDisponivel
{
    width: 35px;
    height: 35px;
    border: 1px solid black;
}

.canalDisponivel.verde
{
    background-color: greenyellow;
    cursor: pointer;
}

.topoInformacoesDVR
{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.configuracoesDVR i {
    animation: fa-spin 2s linear infinite;
    animation-play-state: paused;
    cursor: pointer;
}

.configuracoesDVR:hover i {
    animation-play-state: running;
}

.conteudoDVR
{
    width: 100%;
}

.imagemDVR, .imagemDVR img
{
    height: 100px;
}

.opcoesDVR
{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.visualizacaoDVR:hover i {
    animation: fa-bounce 1s linear infinite;
    cursor: pointer;
}