.equipment-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1.5rem;
}

.equipment-grid-user 
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
}

.equipment-grid-setor
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
}

.equipment-grid-assinaturas
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem; 
}

.equipment-card {
    background: white;
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    border: 1px solid #e2e8f0;
    transition: transform 0.3s ease, border 0.2s ease-in-out;
}

.equipment-card:hover {
    border: 1px solid #3b82f6;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    transform: translateY(-2px);
}

.equipment-card-assinaturas {
    background: white;
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    border: 1px solid #e2e8f0;
    transition: transform 0.3s ease, border 0.2s ease-in-out;
}

.equipment-card-assinaturas:hover {
    border: 1px solid #63E6BE;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    transform: translateY(-2px);
}

.equipment-card h3 {
    font-size: 1.25rem;
    font-weight: 700;
    color: #1e293b;
    display: flex;
    height: 50px;
    gap: 0.5rem;
}

.equipment-card i
{
    margin-top: 5px;
}

.equipment-info {
    display: grid;
    gap: 0.5rem;
}

.equipment-info input,
.equipment-info select
{
    width: 150px;
}

.equipment-card-setor .icon-anima
{
    padding: 1rem;
}

.equipment-card-setor:hover .icon-anima
{
    animation: fa-bounce 1s infinite;
}

.equipment-card-usuario .icon-anima
{
    padding: 1rem;
}

.equipment-card-usuario:hover .icon-anima
{
    animation: fa-bounce 1s infinite;
}

.span-icon-control
{
    display: block;
    max-width: 320px;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.actions-control
{
    padding: 1rem 1rem 1rem 1rem;
    text-align: start;
}

.equipment-card-computer .switch-wrapper label
{
    color: #6b7280;
}