.preventiva
{
    margin-top: 2rem;
    display: grid;
    place-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    gap: 2rem;
    transition: opacity 0.4s ease, transform 0.4s ease;
    margin-bottom: 2rem;
}

.preventiva-titulo
{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.preventiva-excluir:hover
{
    animation: fa-bounce 1s linear infinite;
    cursor: pointer;
}

.preventivaDiv
{
    display: flex;
    width: 200px;
    height: 50px;
    background-color: white;
    border-radius: 12px;
    cursor: pointer;
}

.preventivaLink
{
    display: flex;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
}

.preventivaDiv:hover .color-content
{
    width: 100%;
    border-radius: 12px;
}

.preventivaDiv:hover .preventiva-content
{
    display: none;
}

.color-content
{
    width: 20px;
    min-width: 20px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: #334155;
    transition: all 0.3s ease;
}

.preventiva-content
{
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

.preventiva-content .flex
{
    gap: 1rem;
}

.informarPreventivasDisponiveis
{
    font-size: larger;
    text-align: center;
}

.preventiva-informacoes-basicas
{
    display: flex;
    justify-content: space-between;
}

.preventiva-informacao
{
    text-align: center;
}

.preventiva-acoes
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.statusPreventiva
{
    text-align: center;
    border-radius: 12px;
    padding: 0.2rem;
    width: 120px;
}

.statusPreventiva.nenhum
{
    background-color: #586374;
    color: #d9dce2;
}

.statusPreventiva.aberta
{
    background-color: #dcfce7;
    color: #166534;
}

.statusPreventiva.fechada
{
    background-color: #fee2e2;
    color: #991b1b;
}