.setores
{
  opacity: 0;
  display: grid;
  gap: 1rem;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
  transform: translateY(-10px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.setores.show
{
  margin-bottom: 2rem;
  opacity: 1;
  transform: translateY(0);
}

.setoresAdministrador
{
  opacity: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: repeat(200px);
  grid-template-columns: repeat(2, 400px);
  transform: translateY(-10px);
  transition: opacity 0.4s ease, transform 0.4s ease;    
}

.setoresAdministrador.show
{
  opacity: 1;
  transform: translateY(0);
}

.card-setor
{
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.card-setor:hover
{
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  transform: translateY(-2px);
}

.card-setor:hover .card-setor-conteudo
{
    border: 1px solid #3b82f6;
}

.card-setor-titulo
{
  padding: 1rem;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #334155;
  transition: all 0.3s ease;
}

.card-setor-conteudo
{
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  height: 80px;
  border: 1px solid #334155;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  transition: all 0.3s ease;
}